
@using ConverterSite.Data;
@page "/"


<h3>Todo List</h3>

<div style="display: flex; width: 100%;">
    <div style="flex: 1; padding: 20px; box-sizing: border-box; background-color: #f0f0f0;">
        
<div>
    <input type="text" @bind="newTask" />
    <button class="btn btn-success mb-2" @onclick="AddTask">Add Task</button>
</div>

<ul>
    @foreach (var todo in todos)
    {

        <li class="list-group-item">

            <button class="btn btn-danger mb-2" @onclick="()=>DeleteTask(todo)">Delete</button>
            @todo.Title

        </li>
    }
</ul>

    </div>
    <div style="flex: 1; padding: 20px; box-sizing: border-box; background-color: #e0e0e0; border-color: black; border-style:dotted;">
        <h2>Schedule</h2>
        <table border="5">

            <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>

            <tr>
                <td class="time-slot">9:00 AM - 10:00 AM</td>
                <td>Yoga Class</td>
                <td>Meeting</td>
                <td>Workshop</td>
                <td>Gym</td>
                <td>Project Review</td>
            </tr>

            <tr>
                <td class="time-slot">11:00 AM - 12:00 PM</td>
                <td>Lunch</td>
                <td>Team Meeting</td>
                <td>Code Review</td>
                <td>Client Call</td>
                <td>Networking</td>
            </tr>

            <tr>
                <td class="time-slot">3:00 PM - 4:30 PM</td>
                <td>Project Planning</td>
                <td>Design Discussion</td>
                <td>Coffee Break</td>
                <td>Testing</td>
                <td>Wrap-up</td>
            </tr>
            
        </table>
    </div>
</div>




@code {
    private List<Todo> todos = new List<Todo>
{
        new Todo { Id = 1, Title = "Complete Blazor tutorial"},
        new Todo { Id = 2, Title = "Create a to-do list app" }
    };

    private string newTask = "";

    private void AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newTask))
        {
            todos.Add(new Todo { Id = todos.Count + 1, Title = newTask, });
            newTask = "";
        }
    }



    private void DeleteTask(Todo todo)
    {
        todos.Remove(todo);
    }
}
